@import "../../bower_components/compass-mixins/lib/_compass.scss";


$brand-black: #000;
$brand-grey: #9caaab;
$brand-lightgrey: #e7e9e9;

@font-face {
	font-family: 'Dosis', sans-serif;    
    src: url("../fonts/Dosis-Regular.ttf");
}
@font-face {
	font-family: 'Nanum Gothic', sans-serif;
    src: url("../fonts/NanumGothic-Regular.ttf");
}
body{
	font-family: 'Nanum Gothic', sans-serif;
	overflow-x: hidden;
	font-size: .85rem;
}
a{
	text-decoration-line: none;
}
/*header starts*/
.app-header{
	.upper_header{
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		border-bottom: 1px solid $brand-lightgrey;		
		.left_part{
			a{
				padding: 8px 22px;
				display: inline-block;				
				border-right: 1px solid $brand-lightgrey;
				color: $brand-grey;
			}
		}
		.right_part{
			a{
				padding: 8px 22px;
				display: inline-block;
				border-left: 1px solid $brand-lightgrey;
				color: $brand-grey;				
			}
		}
		
	}
	.lower_header{
		.navbar{
			padding: 5px 65px;
			.nav-item{
				padding: .5rem 1.5rem;
			}
		}
		.navbar-brand{ 
			margin-right: 0em;
			img{
				width: 95px;
			}
		}
		.navbar-toggler:focus{
			outline: none;
		}
	}
}
/*footer starts*/
.app-footer{
			.upper-footer{
				text-align: center;
				padding: 50px 107px;
				.footer-nav{
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
						a{
							margin: 10px;
							color: $brand-black;
							text-transform: uppercase;
							padding: 15px 60px;
							border: 1px solid $brand-lightgrey;
							border-radius: 50px;
							font-size: 1.15em;
							text-transform: capitalize;
						}
				}
			}
			
			.middle_footer{
				text-align: center;
				img{
					width: 200px;
				}
				.footer_text{
					font-size: 1.2em;
					padding: 0px 30%;
					line-height: 25px;
					color: $brand-grey;
				}
				.footer-icons{
					text-align: center;
					a{
						margin: 2px 15px;
						min-width: 30px;
						min-height: 30px;
						display: inline-block;
						border-radius: 100%;
						-webkit-border-radius: 100%;
						background: none;
						text-align: center;
						.fa {
							line-height: 30px;
							font-size: 1.2em;
							color: $brand-grey;							
						}
					}
				}	
			}
			
			.lower-footer{
					margin-top: 70px;
					display: flex;
					justify-content: space-between;
					text-transform: capitalize;
					background: #f5f5f5;
					padding: 15px 7%;
					
					a{
						font-size: .95em;
						padding: 0px 10px;
						display: inline-block;				
						border-right: 1.2px solid $brand-grey;
						color: $brand-grey;
						line-height: 10px;
					}
					.right_part{
						a{
							border: none;				
						}
					}
			}
				
}


/*app main home*/
.app-main-home{
			.slide-wrapper{
				height: 40vw;
				background-color: $brand-grey;
				background-image: url("../../images/Nosttaalgia_home image.jpeg");				
				background-size:50%;
				background-repeat: no-repeat;
				padding-left: 20%;
				display: flex;
				align-items: center;
				justify-content: start;
				div{
						padding: 47px;
						padding-right: 22%;
						border: 12px solid white;
					.wrapper_head{
						font-weight: bold;
						font-size: 2.5em;
						margin-bottom:0px;
					}
					.wrapper_para{
						color: $brand-black;
						font-size: 1.3em;
						font-weight: bold;
					}
				}
				
			}
		.pic_blog{
			padding: 0px 20%;
			.set{
				display: flex;
				margin: 20px 0px;
				border: 1px solid $brand-lightgrey;
				justify-content: space-between;
				.pic{
					width: 48%;
					img{
						width: 100%;
					}
				}
				.blog{
					display: flex;
					align-items: center;
					width: 52%;
					justify-content: center;
					div{
						width: 50%;
						.blog_head{
							font-size: 1.35em;
							font-weight: bold;
						}
						.blog_para{
							color: $brand-grey;
							font-weight: bold;
							font-size: .85em;
						}
						a{
							color: $brand-grey;

						}
					}
					
				}
			}
		}
			
	/*aapp main icon*/
			.app-main-icon{
				padding: 30px 10%;
				background: #f5f5f5;
				.imgBox {
						display: flex;
						justify-content: space-between;
							.fa {
								color: #a9a9a9;
								font-size: 50px;
							}
						}
					}
			}




