@font-face {
  font-family: Nunito Sans;
  src: url("./../fonts/NunitoSans-Regular.ttf");
}

body {
  font-family: Nunito Sans !important;
}

.nav-container {
  position: fixed;
  top: 22px;
  left: 0;
  right: 0;
  padding: 0 9%;
}

.navbar-ton ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #E0E0E0;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.navbar-ton .nav-btn {
  Width: 110px;
  height: 40px;
  border-radius: 6px;
  font-weight: Bold;
  font-size: 14px;
  line-height: 26px;
}

.navbar-ton .nav-btn:nth-child(2) {
  color: #fff;
  border-color: #fff;
  border: 2px solid white;
}

.navbar-ton .btn-link {
  color: #90F9F0;
}

.header_banner {
  height: 950px;
  background-image: url("./../image/header/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_banner .header-text {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: -23%;
}

@media (max-width: 768px) {
  .header_banner .header-text {
    width: 100%;
  }
}

.header_banner .header-text h2 {
  color: white;
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
}

.header_banner .header-text p {
  color: #E0E0E0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 70px;
}

.header_banner .header-text .header_button span {
  font-size: 18px;
  line-height: 28px;
  color: #E0E0E0;
  margin: 0 26px;
}

.header_banner .header-text .header_button button {
  width: 180px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}

.header_banner .header-text .header_button button:nth-child(1) {
  background: #90F9F0;
}

.header_banner .header-text .header_button button:nth-child(2) {
  background: #fff;
}

.fearture .feature-head {
  width: 711px;
  text-align: center;
  margin: 0 auto;
  margin-top: -9%;
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .fearture .feature-head {
    width: 100%;
  }
}

.fearture .feature-head h2 {
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  color: #29293E;
  text-align: center;
  width: 480px;
  margin: 0 auto;
}

.fearture .feature-head p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #5F6989;
}

.fearture .feature-body {
  padding: 0 5%;
}

.fearture .feature-body .card {
  text-align: center;
  border: none;
}

.fearture .feature-body .card img {
  width: 180px;
  margin: 0 auto;
}

.fearture .feature-body .card .card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.fearture .feature-body .card .card-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 195px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.fearture .feature-body .card a.btn {
  font-weight: bold;
  font-size: 14px;
  Width: 197px;
}

.fearture .feature-body .card a.btn i {
  line-height: 1.5;
  vertical-align: middle;
}

.fearture .feature-body .card a.btn:hover {
  color: #90F9F0;
}

.experience {
  height: 1327px;
  height: 950px;
  background-image: url("./../image/experience/Supergraphic Background Section.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=custom.css.map */