

.video-heading-only{
	font-size: 33px;
	font-weight: 700;
}


.first_box{
	padding: 14px;
	border:1px solid #000 ;
}
.first_box h5{
	font-weight: bold;
}

 ul{
    margin: 0;
    padding: 0;
    text-align: center;
}



/*stuts*/
.sts_first_box{
	width: 100%;
	border:1px solid #000;
	padding: 10px;
	
}

.sts_first_box h6{
	
	font-weight: bold;
}

.sts_first_box  a{

color: #1f801f;

}

.sts_first_box  a:hover{
	text-decoration: underline;
}

.this_p a{
	color: #007bff!important;
}

i{
	font-weight: 900;
}

.dashboard-status h4{
	text-align: center;
	margin: auto;
}

.dashboard-status{
	padding: 30px 0;
}
/*end status*/

/*school */
.from_school{
	width: 100%;
	text-align: center;

}

.from_school input{
	width: 350px;
	padding: 10px;
	height: 40px;
	margin: 20px 14px;
}

input.School_nm{
	width: 96%;
	height: 40px;
    padding: 10px;
    margin: 0 auto;
}

.p_no{
	padding: 0
}


/*Styling Selectbox*/
.dropdown {
    width: 100%;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  margin: 10px 0;
  text-align: left;
  border:1px solid #000;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}


ul.dropdown-menu{
  position: absolute;
}




/* bord*/

.start_txt a{
	background: #1f801f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 19px;
    border-radius: 4px;
}
/*end bord*/


/*live class*/

.calender input{
	width: 100%;
}

.form-group h6 a{
	color: #0056b3;
}
/*end live classes*/

/*dashbord video*/

.this_img{
	margin-top: 10px;
}

/* end dashbord video*/

/*counsiling*/

.consilng_a img{
    width: 30%;
}
.consilng_a p a{
	background: #1f801f;
    color: white;
    font-size: 14px;
    font-weight: bold;	
    padding: 9px 10px;
    border-radius: 4px;
    text-decoration: none;
}

@media (max-width: 767.95px){
    .consilng_a p{
        font-size: 10px;
    }
}

.just_edit .dropdown{
	margin: 0 7px;
	width: 230px;
    border-color:rgb(118, 118, 118);
 
}

.consilng_a {
    padding: 0 8px;
}

.from_school_counsiling input.form-control_coun{
        width: 477px;
    display: inline-block;
    height: 43px;

}
/*end counsiling*/