.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .4);
  width: 100%;
}


.testimonial-column.t .inner-column .testimonial-slide .content-box .image-box .thumb::before {
    display: none;

}

.banner-section .content-box .sub-title::before {
    
    background-size: contain;
    background-repeat: no-repeat;
    
}